---
import BaseNavigation from '@components/layout/BaseNavigation.astro';
import BaseFooter from '@components/layout/BaseFooter.astro';
import BaseHead from '../components/layout/BaseHead.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  classList?: string;
  pageTitle?: string;
  ogImage?: URL;
  showRecent?: boolean;
}

const { title, description, classList, pageTitle, ogImage, showRecent = false } = Astro.props;
---

<html lang='en' class='h-full'>
  <BaseHead ogImage={ogImage} title={title} description={description} />

  <body class:list={[classList]}>
    <BaseNavigation {pageTitle} />
    <slot />
    
    {showRecent && (
      <section class='p-6'>
        <RecentBlogPosts count={3} />
      </section>
    )}
    
    <BaseFooter />

    <script>
      document.addEventListener('astro:after-swap', () => {
        if (window.navigation) {
          window.navigation.addEventListener('navigate', (event) => {
            if (event.navigationType === 'back') {
              window.history.back();
            }
          });
        }
      });
    </script>
  </body>
</html>
